<%= simple_form_for(user, url: profile_path, method: :patch, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :username %>
    <%= f.input :photo, as: :file %>
  </div>

  <div>
    <%= f.button :submit, 'Update Profile', class: 'btn btn-info' %>
  </div>
<% end %>
