<div class="container my-5">
  <div class="banner text-center">
    <h1>My Rewards</h1>
    <h3>Let's see how many rewards your hard work gave you 😎</h3>
  </div>
</div>


<div class="container mt-2 ">
  <div class="row">
    <% count = 1 %>
    <% @rewards.each do |reward| %>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="modal fade" id="<%= dom_id(reward) %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body mt-3 mb-3">
                <%= reward.description %>
              </div>
              <div class="modal-footer">
                <p class="fs-5 mb-3"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="journey-card">
          <div class="journey-card-inner">
            <div class="journey-card-front">
              <img class='journey-image mt-6' src="https://res.cloudinary.com/dxrwfnroj/image/upload/v1701963206/Design_sem_nome__1_-removebg-preview_d7cjzo.png", style="max-width: 50%" >
              <div class="journey-card-title">
                <%= reward.name %>
              </div>
            </div>
            <div class="journey-card-back">
              <%= content_tag(:div, "#{count}/60", class: 'count-reward mt-3 fs-4 bg-#8bb6a3') %>
              <% count += 1 %>
              <button type="-button" class="btn mb-4" data-bs-toggle="modal" data-bs-target="#<%= dom_id(reward) %>">Open</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
