<div class="challenge">
  <p class="challenge-description-<%= challenge.id %>"><%= challenge.description %></p>
  <%= form_for [journey, challenge], remote: true, authenticity_token: true, html: { class: 'challenge-form' } do |f| %>
    <%= f.check_box :completed, onchange: 'this.form.submit();', disabled: challenge.completed? %>
    <%= f.hidden_field :completed, value: true %>
  <% end %>
</div>
