<div class="container my-5">
  <div>
    <h1>Welcome!</h1>
    <h3 class="text-center">Here are your daily challenges.</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @journeys.each do |journey| %>
    <!-- Modal -->
    <div class="modal fade" id="<%= dom_id(journey) %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="model-header d-flex justify-content-end">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <h2><%= journey.title %></h2>
          <div class="challenges">
            <% journey.challenges.each do |challenge| %>
            <div class="challenge">
              <%= render partial: 'challenges/challenge', locals: { journey: journey, challenge: challenge } %>
            </div>
            <% end %>
            <div>
              <% completed = journey.challenges.select { |challenge| challenge.completed == true } %>
              <%= link_to 'Reward', reward_path(3), class: "reward-btn btn btn-success mt-4 reward_journey_#{ journey.id } #{ 'd-none' unless journey.challenges.length == completed.length }" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="col-6 col-md-4 col-lg-2">
        <div class="journey-card">
          <div class="journey-card-inner">
            <div class="journey-card-front">
              <img class='journey-image' src="https://res.cloudinary.com/dxrwfnroj/image/upload/v1701435551/logo_gpm6ug.png" >
              <div class="journey-card-title">
                <%= journey.title %>
              </div>
            </div>
            <div class="journey-card-back">
              <div class="journey-details">
                <h4 class= "card-another mb-3 mt-4 fs-5">Today's challenges</h4>
                <div class="journey-challenges">
                  <button type="button" class="btn mt-6" data-bs-toggle="modal" data-bs-target="#<%= dom_id(journey) %>">Start</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var cards = document.querySelectorAll(".journey-card");

    cards.forEach(function (card) {
      card.addEventListener("click", function () {
        card.classList.toggle("is-flipped");
      });
    });
  });
</script>
