<!DOCTYPE html>
<html>
  <head>
    <title>Journey60</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body><%= render "shared/navbar" %>
<%= render "shared/flashes" %>

    <%= yield %>

  </body>
    <footer>
      <div class='footer-container'>
        <div id='footer1'>
          <p class='mb-1'>Contact Us</p>
          <p>contact@journey60.me</p>
        </div>

        <div id='footer2'>
          <p class='mb-1'>Follow us</p>
          <p>@journey60</p>
        </div>
      </div>
      <p class='rights'>&copy; <%= Time.now.year %> Journey60. All rights reserved.</p>
    </footer>

</html>
